// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-top: 1px solid rgba(0,0,0,0.1);

  .panel {
    margin-top: 15px;
    margin-left: 15px;
  }
}

#body {
  margin-bottom: 120px;
}

#footer-dismiss {
  font-size: 1.5em;
}

// #footer-tools-lists span {
//   padding-bottom: 5px;
// }

.modal-body {
  height: 600px;
}
